
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 0.5em;
	padding: 5px;
	min-width: 160px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.scene-font-1{font-size:10px}
.scene-font-2{font-size:12px}
.scene-font-3{font-size:14px}
.scene-font-4{font-size:18px}
.scene-font-5{font-size:32px}
.scene-font-6{font-size:50px}
.scene-font-bold{
    color:#fff;text-shadow:0 0 3px #150f0f,0 0 3px #150f0f,0 0 3px #150f0f,0 0 3px #150f0f,0 0 4px #150f0f,0 0 4px #150f0f,0 0 4px #150f0f,0 0 4px #150f0f;letter-spacing:0.1rem
}
.scene-font-italic{font-style:italic}
.scene-font-red{color:#ff4d00}
.scene-font-blue{color:#258eb5}
.scene-font-gray{color:#71645a}
.scene-font-kokoro{color:#6fc4ff}
.scene-font-katari{color:#cdcd99}
.scene-font-spword{color:#ffce4a}
.scene-font-place{color:#9dff67}

.pop{
	width: 320px;
	padding: 7px 2px 10px 12px;
	background-color: #005666;
	color: #f2eee2;
	text-shadow: 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 2px #150f0f, 0px 0px 2px #150f0f, 0px 0px 2px #150f0f	
}
.txt-synopsis{
	font-weight: bold;
	padding: 0px 0px 5px 0px;
}

.pop-usual .txt-popup-body,
.pop-usual .txt-popup-body-sm,
.prt-scene-comment .txt-character-name,
.prt-scene-comment .prt-message-area .txt-message {
	font-size: 9px;
	color: #f2eee2;
	line-height: 1;
	text-shadow: 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 2px #150f0f, 0px 0px 2px #150f0f, 0px 0px 2px #150f0f
}

// .prt-scene-comment{display:block;background:url('/assets/images/parts-s6e4724d7a7.png') no-repeat 0 0;-webkit-background-size:320px 427px;background-size:320px 427px;width:320px;height:148px;position:relative;z-index:900}

.prt-scene-comment .txt-character-name {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding: 7px 0 0 12px;
	min-height: 22px
}

.prt-scene-comment {
	display: block;
	background: url('/assets/images/parts-s6e4724d7a7.png') no-repeat 0 0;
	-webkit-background-size: 320px 427px;
	background-size: 320px 427px;
	width: 320px;
	height: 148px;
	position: relative;
	z-index: 900
}

.prt-scene-comment .txt-character-name {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding: 7px 0 0 12px;
	min-height: 22px
}

.prt-scene-comment .prt-message-area {
	padding: 20px 15px 0 25px
}

.prt-scene-comment .prt-message-area .txt-message {
	font-size: 14px;
	line-height: 1.5
}

.prt-scene-comment .btn-play-voice {
	display: block;
	background: url('/assets/images/parts-s6e4724d7a7.png') no-repeat 0 -281px;
	-webkit-background-size: 320px 427px;
	background-size: 320px 427px;
	width: 41px;
	height: 24px;
	position: absolute;
	top: 310px;
	right: 13px;
	z-index: 3000;
	margin-top: -294px;
	display: none
}

.prt-scene-comment .ico-cursor-talk {
	display: block;
	background: url('/assets/images/parts-s6e4724d7a7.png') no-repeat 0 -331px;
	-webkit-background-size: 320px 427px;
	background-size: 320px 427px;
	width: 12px;
	height: 24px;
	position: absolute;
	right: 20px;
	bottom: 35px;
	-webkit-animation: "anim-ico-pointer" 0.8s linear 0s infinite normal;
	animation: "anim-ico-pointer" 0.8s linear 0s infinite normal;
	display: none
}

.prt-scene-comment-after-mask {
	width: 320px;
	height: 100%;
	position: relative;
	z-index: 900;
	background-color: #150f0f
}
