---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- for cat in site.categories -%}
    <h3>{{ cat[0] | default: "Posts" }}</h3>
    <ul style="list-style: none;">
      {% assign sortedpost = site.posts | sort %}
      {%- for post in sortedpost -%}
      {%- if post.categories contains cat[0] -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <!-- <h3> -->
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <!-- </h3> -->
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- endfor -%}
  {%- endif -%}
</div>
